<tooltip>
  <@title>
    Opens a <b>dialog</b>
  </@title>
  <button onClick(){open()}>Open Dialog</button>  
</tooltip>
<dialog/[open, close] title="Dialog test">
  <p>
    This is the dialog content
  </p>  
</dialog>